body {
    margin: 5vw auto;
    width: 90vw;
}

.crib {
    grid-area: crib;
}

.player {
    grid-area: player;
}

.player-1 {
    grid-area: aiplayer1;
}

.player-2 {
    grid-area: aiplayer2;
}

.discard {
    grid-area: discard;
}

h4, h5 {
    margin: 5px 20px 5px;
}

.grid {
    width: 100%;
    display: grid;
    gap: 5%;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 200px);
    grid-template-areas:
    "crib crib discard"
    "player player ...."
    "aiplayer1 aiplayer1 ...."
    "aiplayer2 aiplayer2 ....";
    background-color: #fff;
    color: #444;
}
.box {
    border: solid #444 4px;
    border-radius: 4px;
    padding: 5px;
    display: grid;
    gap: 2%;
    grid-template-columns: repeat(5, 1fr);
}
.box.discard {
    grid-template-columns: repeat(2, 1fr);
}
.box.discard h4 {
    grid-column: span 2;
}
.box h4 {
    grid-column: span 5;
}
.box.current {
    border-color: hotpink;
}
.card.hide {
    opacity: 0.2;
}
.box.current .card:hover {
    background: #8B5FBF40;
    cursor: pointer;
}

.card {
    border: solid 1px #aaa;
    border-radius: 9px;
    float:left;
    background-color: white;
    padding: 3px 3px 3px 3px;
    margin: 5px;
    color: #000000;
    z-index: 10;
}

.card > * {
    z-index: 8;
}

.card.diamonds, .card.hearts {
    color: #A61123;
}

.card .value {
    font-size:24px;
    font-family: monospace;
    padding-top: 1px;
    padding-left: 6px;
}

.card .suit {
    background-repeat: no-repeat;
    background-position: center center;
    height: calc(.1 * 100vw);
    width: 100%;
    padding-bottom: 3px;
}

.card.diamonds .suit {
    background-image: url('./diamond.svg');
}

.card.hearts .suit {
    background-image: url('./heart.svg');
}

.card.spades .suit {
    background-image: url('./spade.svg');
}

.card.clubs .suit {
    background-image: url('./club.svg');
}